.cardContainer {
    width: calc(50% - 22px);
    display:flex;
    border: 1px solid #333;
    margin: 5px;
    align-items: center;
}

.cardContainer .imgContainer {
    width: 30%;
}

.cardContainer .imgContainer img {
    width: 100%;
}